<footer class="footer py-4">

  <div class="container">

    <!-- Iconos -->
    <div class="d-flex justify-content-center mb-3">
      <a href="https://www.facebook.com/NASA/" class="footer-icon mx-2">
        <i class="fa-brands fa-facebook-f"></i>
      </a>

      <a href="https://www.instagram.com/nasa/" class="footer-icon mx-2">
        <i class="fa-brands fa-instagram"></i>
      </a>

      <a href="https://x.com/NASA" class="footer-icon mx-2">
        <i class="fa-brands fa-twitter"></i>
      </a>

      <a href="https://www.nasa.gov/" class="footer-icon mx-2">
        <i class="fa-brands fa-google"></i>
      </a>

      <a href="https://www.youtube.com/nasa" class="footer-icon mx-2">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>

    <!-- Links -->
    <ul class="nav justify-content-center mb-3">
      <li class="nav-item">
        <a class="nav-link footer-link" href="#">Inicio</a>
      </li>

      <li class="nav-item">
        <a class="nav-link footer-link" href="#">News</a>
      </li>

      <li class="nav-item">
        <a class="nav-link footer-link" routerLink="/nosotros">
          Nosotros
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link footer-link" routerLink="/contacto">
          Contacto
        </a>
      </li>
    </ul>

    <!-- Copyright -->
    <div class="text-center footer-copy">
      Copyright ©2026; Proyecto escolar
    </div>

  </div>

</footer>