<h2>Cohetes</h2>

<div class="grid">
  @for (producto of productos; track producto.id) {
    <app-proyecto-card
      [producto]="producto"
      [esFavorito]="esFavorito(producto)"
      (toggleFavorito)="toggleFavorito($event)">
    </app-proyecto-card>
  }
</div>

<h2>Favoritos</h2>

@if (favoritos.length > 0) {

  <div class="grid">
    @for (fav of favoritos; track fav.id) {
      <div class="card">
        <img [src]="fav.imagen">
        <h3>{{ fav.nombre }}</h3>

        <button (click)="toggleFavorito(fav)">
          Quitar
        </button>
      </div>
    }
  </div>

} @else {

  <p>No tienes favoritos aún</p>

}