<nav class="contenedor-nav">
    <!-- BARRA INFERIOR -->
    <div class="contenedor">

        <a class="titulo-nasa" routerLink = "/">
            <img [src] = "imagenLogo" class="logo-nasa" alt="NASA">
        </a>

        <ul class="lista">
            <li><a href="#">Eventos</a></li>
            <li><a routerLink="/producto">Multimedia</a></li>
            <li><a href="#">NASA TV</a></li>
            
        </ul>
    </div>

    <!-- BARRA SUPERIOR (BUSCADOR) -->
    <div class="caja-buscador">

  <form class="buscador" (submit)="$event.preventDefault()">

    <input
      type="text"
      class="espacio-buscador"
      placeholder="Search"
      [(ngModel)]="busqueda"
      name="busqueda"
    >

    <button type="button" class="btn-buscar">
      <span class="material-symbols-outlined">search</span>
    </button>

  </form>

</div>


</nav>
