/* NAV */

.contenedor-nav{
    background: #000;
    border-bottom: 1px solid rgba(79,79,79,.4);
    font-family: 'Space Grotesk', sans-serif;
}

/* LOGO */

.logo-nasa{
    width:130px;
}

/* LINKS */

.navbar-nav{
    gap:40px;
}

.nav-link{
    color:white !important;
    font-size:1.1rem;
    transition:.3s;
}

.nav-link:hover{
    color:#fc3d21 !important;
}

/* BUSCADOR */

.buscador{
    position:relative;
    width:300px;
}

.espacio-buscador{
    background:rgba(255,255,255,.12);
    color:white;
    border:none;
    border-radius:20px;
    padding-right:50px;
}

.espacio-buscador::placeholder{
    color:rgba(255,255,255,.6);
}

.espacio-buscador:hover{
    background:rgba(255,255,255,.20);
}

.espacio-buscador:focus{
    background:rgba(255,255,255,.20);
    color:white;
    box-shadow:none;
    border:none;
}

/* BOTÓN */

.btn-buscar{
    position:absolute;
    right:10px;
    top:50%;
    transform:translateY(-50%);
    border:none;
    background:transparent;
    color:white;
}

.btn-buscar:hover{
    color:#fc3d21;
}

/* MATERIAL ICON */

.material-symbols-outlined{
    font-size:22px;

    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
}